@charset "utf-8";
/* CSS Document */

body{
	padding: 15px 10px;
	text-align: justify;
	max-width: 800px;
	margin: auto;
}

.navigation h1{
	text-align: center;
}

.icon-list{
	display: table;
	margin: 0 auto;
}

.navigation ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.navigation li{
	display: inline;
	margin: 3px;
}

.navigation li a{
	color: grey;
	transition: all ease-in-out 150ms;
}

#linkedin:hover{
	text-decoration: none;
	color: #0E76A8;
}

#github:hover{
	text-decoration: none;
	color: #211F1F;
}

#email:hover{
	text-decoration: none;
	color: #999999;
}

#CV{
	font-size: 33px;
	font-weight: bold;
	display: inline;
}

#CV a:hover{
	text-decoration: none;
	color: #bbbbbb;
}


p{
	text-align: center;
}

.horizontal-list{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}



@media only screen and (min-width: 640px) {
	body{
		padding: 20px 25px;
	}
	
	.navigation li{
		margin: 6px;
	}
	
	.navigation h1{
		float: left;
	}

	.icon-list{
		display: inline-block;
		float: right;
	}
	
	.page-body{
		float: left;
	}
	
	.horizontal-list li{
		margin: 0px 40px 0px 0px;
		display: inline-block;
	}
}